-
  var header = '#awards'
  var awardList = [
    {
      "title": "Hello, my name is Valentin. I graduated in electrical in Romania in 2018. Few moths later I moved in London where I started my first job.Three months later I started learning web development where I learned HTML, CSS3, JavaScript",
      "description": "In present I am looking for a job in this industry. I am taking part in a comunity where we work and learn as a team. Every day I am motivating my self to learn and to become a better individual at what I am doing. I decided to change my job into IT to spend my time doing what i please. For starters, I would like to volunteer in your comapany to gain experience until I am ready to make a positive contribution in your company as a web developer. ",
      "location": "I was born in Bucharest,Romania",
      "date": "31.07.1999"
    },
  ]
#award
.award
  .award__header=header
  each award in awardList
    .award__card
      h3.award__card-title
        span.award__card-icon
          span.my-cv__icon--trophy
        .award__item=award.title
      .award__card-description
        span.award__card-icon
          span.my-cv__icon--info
        .award__item=award.description
      .award__card-location
        span.award__card-icon
          span.my-cv__icon--map2
        .award__item=award.location
      .award__card-date
        span.award__card-icon
          span.my-cv__icon--calendar
        .award__item=award.date