//- data come here
-
    var header = '#about-me'
    var imagePath = "asset/image/image-with-me.jpg"
    var myFullName = "Valentin Nicolae"
    var myTitle = "Web Developer"
    var slogan =  'I make the front end world a beteer place every day.'
    var achievement = {
        title: 'achevement'
        content: 'I want make more money and i want working in IT'
    }
    var coolStuff = {
        title: 'ttt'
        buttonList: [
            {
                url: 'https://github.com/valentin3199',
                icon: 'githup',
                label: 'Click to visit the Githup project source'
            }
                                {
                url: '#',
                icon: "file-world",
                label: ' Click to download the "one page" Microsoft World version'
            }
                        {
                url: '#',
                icon: "file-world",
                label: 'Click to download the "one page" Microsoft World version'
            }
        ]
    }

//-the view comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__abater(src= imagePath)
    .about-me__full-name=myFullName
    .about-me__full-title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achivement.content

    .each button in coolStuff.buttonList
        a(href=button.url)
        span=button.label
        span(class= '.my-cv__icon--${button.icon}')
